#banner .inner{
	background: none;
}

.special{
	border-radius: 12px;
}

.glyphicon-heart-empty{
	font-size: 200%;
	color: pink;
}

.sign-up_form{
	padding-top: 4em;
	max-width: 50%;
	margin: 0 auto;
	padding-bottom: 4em;
}

@media (min-width: 300px) and (max-width: 960px) {
	.sign-up_form {
			max-width: 90%;
		}

		#storyBody div{
			max-width: 90%;
			margin: 0 auto;
		}
	}

.postBox{
	background: #fff;
	border-bottom: 1px line solid;
	text-align: left;
	max-width: 100%;
	padding-left: 1rem;
}

.postBox h4{
	color: #30dbbd;
}

.postBox h2{
	font-weight: 500;
}

#storyBody div{
	max-width: 70%;
	margin: 0 auto;

	background: #fff;
	padding-left: 1rem;

	color: black;
}


